
<div class="" style="text-align:center">
  <h1>
    Bienvenido !
  </h1>
  <div class="container">
    <div class="omb_login">
		    <div class="row omb_row-sm-offset-3 omb_socialButtons">
        	<div class="col-xs-12 col-sm-6">
		        <a class="btn btn-lg btn-block omb_btn-google" (click)="socialSignIn('google')">
			        <i class="fa fa-google-plus visible-xs"></i>
			        <span class="hidden-xs">Iniciar Sesion Google+</span>
		        </a>
	        </div>
		    </div>
    </div>
  </div>
</div>


