.example-sidenav {
  padding: 30px;
}
.example-container {
  width: 100%;
  height: 1000px;
  border: 1px solid rgba(230, 19, 19, 0.5);
}
.fill-space {
  flex: 0 0 auto;
}
.boton {
  color: orange;
}


