<div>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" class="example-sidenav">
        <mat-list dense>
            <a mat-list-item ><button  class="btn btn-danger btn-lg" (click)='mostrar=!mostrar' >Google Drive</button></a>
        </mat-list>
     </mat-sidenav>

     <mat-toolbar color="warn">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon class="md-24" >menu</mat-icon>
        </button>
        <span> <label>{{username.name}} email: {{username.email}}</label></span>
        <img class="img-circle" src="{{username.image}}"/>
        <!--<img src="data:image/jpg;base64, {{username.image}}""  />-->
      </mat-toolbar>
<!-- contenido del area-->
     <div class="app-content">

        <div *ngIf='mostrar'>
            <app-muestra></app-muestra>
        </div>
      </div>

</mat-sidenav-container>
</div>


